body {
    margin: 0;
    padding: 14rem;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

header {
    background-color: #fff9f9;
    color: white;
    text-align: center;
    padding: 1em 0;
}

section {
    max-width: 600px;
    margin: 20px auto;
    padding: 14rem auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0px;
}

li {
    margin-bottom: 8px;
}
.row img{
    width: 400px;
    height: auto;
}

button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

textarea {
    width: 100%;
    padding: 14rem auto;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

/* Additional styling for checkout section */
#checkout {
    display: none;
}

#checkoutBtn {
    display: block;
    margin: 20px auto;
}

/* Optional: Add media queries for responsiveness */
@media (max-width: 600px) {
    section {
        width: 90%;
    }
}
nav {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

#cart {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#cart h2 {
    color: #333;
}

#cart-items {
    list-style: none;
    padding: 0;
}

.cart-item {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.product-details h3 {
    margin: 0;
}

#total {
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}

#checkout,
#checkoutBtn,
#payBtn {
    margin-top: 20px;
    background-color: #0b6bfd;
    color: rgb(1, 1, 1);
    padding: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#checkout,
#checkoutBtn,
#payBtn textarea {
    width: 100%;
    margin-bottom: 10px;
}

#checkout {
    display: none;
}
